<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Success</title>
  </head>
  <body>
    <script>
      function getCookie(name) {
        const value = `; ${document.cookie}`; // value = "; isLoggedIn=true"
        const parts = value.split(`; ${name}=`); // parts = ["", "true"]
        if (parts.length === 2) return parts.pop().split(";").shift();
      }
      const isLoggedIn = getCookie("isLoggedIn");
      if (isLoggedIn === "false" || !isLoggedIn) {
        window.location.href = "/login";
      } else {
        document.body.innerHTML = `
      <h1>Login Successful</h1>
      <p>Welcome back!</p>
    `;
      }
    </script>
  </body>
</html>
